<h1 mat-dialog-title>{{title | translate}}</h1>

<mat-dialog-content>
  <div class="py-6" [formGroup]="createPaiAttachmentForm" *ngIf="createPaiAttachmentForm">
    <div class="flex flex-wrap justify-between">
      <input-string class="w-full" formControlName="userId" label="Utente" [readonly]="true"></input-string>
      <input-string class="w-full" formControlName="documentName" label="Documento">
      </input-string>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-end">
  <button mat-raised-button class="mt-2" (click)="back()">
    {{'common.close' | translate}}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" class="mt-2" (click)="save()" [disabled]="!formValid">
    {{'common.save' | translate}}
  </button>
</mat-dialog-actions>