:host{
  height: 100%
}

.intervento {
  background-color: #d07979;
}

.visita {
  background-color: #a89cc7;
}

.font-6x {
  font-size: 30px;
}

.font-5x {
  font-size: 25px
}

.mat-calendar {
  width: 100%;
}
