<h1 mat-dialog-title>
	{{'age.viewDrugNote' | translate}}
</h1>
<mat-dialog-content>
	<div class="flex flex-wrap justify-between" [formGroup]="form">
		<input-string formControlName="note" label="age.note" class="w-full" [rows]="6">
		</input-string>
	</div>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
	<button mat-raised-button (click)="close()">
		{{(canSave ? 'common.undo' : 'common.close') | translate}}
	</button>
	<button mat-raised-button color="primary" (click)="save()">
		{{'common.save' | translate}}
	</button>
</mat-dialog-actions>