<h1 mat-dialog-title>
	{{'profile.edit' | translate}}
</h1>
<mat-dialog-content>
	<form [formGroup]="form" class="flex flex-wrap justify-between" *ngIf="form">
		<input-string class="w-full" formControlName="firstName" label="common.firstName"></input-string>
		<input-string class="w-full" formControlName="lastName" label="common.lastName"></input-string>
		<input-string class="w-full" formControlName="email" label="common.email"></input-string>
	</form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
	<button mat-raised-button (click)="close()" class="mr-4">
		{{'common.undo' | translate}}
	</button>
	<button mat-raised-button color="primary" (click)="save()">
		{{'common.save' | translate}}
	</button>
</mat-dialog-actions>