.grid-container {
  margin: 20px;
  width:-webkit-fill-available;
}
.divAlert{
  border-width: 3px;
  background-color: #1E96F7;
}
.spinner{
  margin:0 auto;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.divLabel{
  border-color:#FFC0A0;
  border-width: 2px;
  margin-bottom: 10px;
}