<h1 mat-dialog-title>{{title | translate}}</h1>

<mat-dialog-content>

    <div class="py-6" [formGroup]="createCaseManagerForm" *ngIf="createCaseManagerForm">
        <div class="flex flex-wrap justify-between">
			<select-box class="w-full" formControlName="doctor" label="Case manager" required="true"  [items]="doctorListItems" [autocomplete]="true">
			</select-box>
			<input-string class="w-full" formControlName="doctorName" label="Nome" required="true" [readonly]="true">
			</input-string>
			<input-string class="w-full" formControlName="doctorSurname" label="Cognome" required="true" [readonly]="true">
			</input-string>
			<input-string class="w-full" formControlName="doctorEmail" label="email" required="true" [readonly]="true">
			</input-string>
		</div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-end">
	<button mat-raised-button class="mt-2" (click)="back()">
		{{'common.close' | translate}}
	</button>
	&nbsp;
	<button mat-raised-button color="primary" class="mt-2" (click)="save()" [disabled]="!createCaseManagerForm || !createCaseManagerForm.valid">
		{{'common.save' | translate}}
	</button>
</mat-dialog-actions>