<mat-form-field class="filter-field">
  <mat-label *ngIf="selectedColumn && displayedColumns.length > 1">{{ getSelectedColumnDescription() }}: </mat-label>
  <input
    matInput
    [matAutocomplete]="auto"
    [formControl]="filter"
    [placeholder]="getPlaceHolder()"
  >
  <mat-icon
    class="padding-right"
    color="primary"
    matSuffix
    *ngIf="!(filter.value || (selectedColumn && displayedColumns.length > 1))"
  >
    search
  </mat-icon>
  <mat-icon
    class="padding-right"
    color="primary"
    matSuffix
    *ngIf="filter.value || (selectedColumn && displayedColumns.length > 1)"
    (click)="clearFilter()"
  >
    close
  </mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
  >
    <mat-option
      *ngFor="let column of getDisplayedColumns()"
      [value]="column"
    >
      {{ getColumnDescription(column) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
