<page-content [label]="'DASHBOARD' | translate">
    <ng-container header>
        Header
    </ng-container>
    <ng-container content>
		<div style="width: 400px; height: 200px;">
			<map-preview [coordinates]="[14.781447642043426, 41.130769884646625]">

			</map-preview>
		</div>
		
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
        <p class="text-2xl">Content</p>
    </ng-container>
    <ng-container footer>
        Footer
    </ng-container>
</page-content>